.home-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &.dark {
    background: #332f2f;
    color: white;

    .content {
      background: #332f2f;
    }

    .search {
      .btn-search {
        background: #3769a7;
        border: 1px solid #3769a7;
      }
    }

    .user-card-profile {
      .show-more-btn {
        .more-repo {
          background: #3769a7;
          border: 1px solid #3769a7;
        }
      }
    }

    .footer {
      background: black;
      color: white;
    }
  }

  .content {
    flex: 1;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    .search {
      .btn-search {
        height: 45px;
      }
    }

    //Temporarily styles!
    .awaiting-search-image {
      display: flex;
      flex: 1;
      width: 90%;
      margin: 20px auto;

      .search-image {
        width: 100%;
      }
    }
  }
}

@media (min-width: 425px) {
  .home-section {
    //Temporarily styles!
    .awaiting-search-image {
      max-width: 475px;
    }
  }
}
