.home-section {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #f6f6f6;

  &.dark {
    background: #332f2f;
    color: white;

    .content {
      background: #332f2f;

      .get-user-error {
        background: #b32424;
      }
    }

    .search {
      .btn-search {
        background: #6c63ff;
        border: 1px solid #6c63ff;
      }
    }

    .user-card-profile {
      border: 1px solid #808080;
      background: #353131;

      .user-repositories {
        .repo-data-list {
          .repo-item {
            padding: 4px 0;

            a {
              color: #fff;
            }
          }
        }
      }
    }

    .footer {
      background: black;
      color: white;
    }
  }

  .content {
    flex: 1;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    .get-user-error {
      width: 90%;
      margin: 8px auto;
      height: 45px;
      background: #e98080;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .search {
      .btn-search {
        height: 45px;
      }
    }

    //Temporarily styles!
    .awaiting-search-image {
      display: flex;
      flex: 1;
      width: 90%;
      margin: 20px auto;

      .search-image {
        width: 100%;
      }
    }
  }
}

@media (min-width: 425px) {
  .home-section {
    //Temporarily styles!
    .content {
      .get-user-error {
        max-width: 425px;
      }

      .awaiting-search-image {
        max-width: 475px;
      }
    }
  }
}
