.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;

  .app-name {
    text-align: center;
  }

  .mode {
    margin-top: 8px;
  }

  .btn {
    border-radius: 12px;
    border: 1px solid gray;
    background: white;
    padding: 10px;
    margin-top: 8px;
    outline: none;
    cursor: pointer;
  }
}

@media (min-width: 425px) {
  .header {
    max-width: 425px;
    flex-direction: row;
  }

  .mode {
    margin-top: 0;
  }
}
