.footer {
  background: #55a1ff;
  color: #fff;
  // margin-top: 50px;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;

  p {
    flex: 1;
    padding: 8px;
  }
}

@media (min-width: 425px) {
  .footer {
    flex-direction: row;
  }
}
