.search {
  text-align: center;
  display: flex;
  width: 90%;
  margin: 0 auto;

  .input {
    padding: 8px 6px;
    flex: 4;
    width: 100%;
    height: 45px;
  }

  .btn-search {
    padding: 8px;
    background: #6c63ff;
    color: #ffffff;
    border: 1px solid#6c63ff;
    flex: 1;
    outline: none;
    cursor: pointer;
  }
}

@media (min-width: 425px) {
  .search {
    max-width: 425px;
  }
}
