.search {
  text-align: center;
  display: flex;
  // width: 95%;
  // margin: 0 auto;

  .input {
    padding: 8px 6px;
    flex: 2;
    width: 100%;
  }

  .btn-search {
    padding: 8px;
    background: #55a1ff;
    color: #ffffff;
    border: 1px solid #55a1ff;
  }
}
